<!-- <footer class="footer">
    <div class="rowf">
    <div class="colf">
        <h3>Company</h3>
        <ul>
        <li><a href="">About us</a></li>
        <li><a href="">Our service</a></li>
        <li><a href="">Privacy Policy</a></li>
    </ul>
    </div>
    <div class="colf">
        <h3>Get Help</h3>
    <ul>
        <li><a href="">FAQ</a></li>
        <li><a href="">Shipping</a></li>
        <li><a href="">Order Status</a></li>
    </ul>
    </div>
    <div class="colf" >
        <h3>Follow Us</h3>
        <div class="logo">
        <ul>
        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
        <li><img src="" alt=""></li>
    </ul>
    </div>
    </div>
</div>

</footer> -->

<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-d615"><div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the Text Element.</p>
  </div></footer>