<div class="login-form" >
    <h1>Welcome To Pizza Byte </h1>
    <form class="login-class">
      <input class="in-1" type="text"  required>
      <label class="email-cls">Email</label>
      <br>
      <br>
      
      <input class="in-2" name="password" id="password" type="password"  required>
     
      <label  class="pass">Password</label>
      <i class="fa-solid fa-eye" id="togglePassword"></i>
       <button>Login</button>
       <h4>Don`t have an account ? <a href="signup.html" >Sign up Here</a></h4>
    </form>
   
    <script src="script.js"></script>
  </div>