<h1>Delicious Pizza</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi natus aspernatur eligendi corporis facilis dignissimos facere magni repellat quidem quod. Totam quis natus accusamus officia reiciendis temporibus dolore doloribus neque.</p>
    <div class="row">
        <div class="col">
            <h3>cheese</h3>
            <img src="assets/imgs/pizza-2619967.jpg" width="300" height="250">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
             Veritatis eum illo molestiae praesentium, assumenda modi. Mollitia libero odio exercitationem inventore officiis. Voluptate voluptatibus totam maiores enim. Labore provident accusamus nemo.</p>
        </div>
        <div class="col">
            <h3>vegetable</h3>
            <img src="assets/imgs/vegetable.jpg" width="300" height="250" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
             Veritatis eum illo molestiae praesentium, assumenda modi. Mollitia libero odio exercitationem inventore officiis. Voluptate voluptatibus totam maiores enim. Labore provident accusamus nemo.</p>
        </div>
        <div class="col">
            <h3>sausage</h3>
            <img src="assets/imgs/Susese.webp" width="300" height="250">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
             Veritatis eum illo molestiae praesentium, assumenda modi. Mollitia libero odio exercitationem inventore officiis. Voluptate voluptatibus totam maiores enim. Labore provident accusamus nemo.</p>
        </div>
    </div>
    <section class="branches">
        <h2>Our branches</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti id ullam eius minus, perferendis eum corporis ad nobis recusandae architecto alias tempora commodi dolorum,
           <br>slabore vitae dignissimos numquam unde laboriosam?</p>
    
            <div class="row">
                <div class="colbr">
                    <img src="assets/New-York-Wallpaper-Background-7.jpg">
                    
                     <div class="layout">
                        <h3>New-York</h3>
                     </div>
                </div>
                <div class="colbr">
                    <img src="assets/Alexandria.jpg">
                    
                     <div class="layout">
                        <h3>Alexandria</h3>
                     </div>
                </div>
                <div class="colbr">
                    <img src="assets/milano.jpg">
                    
                     <div class="layout">
                        <h3>Milano</h3>
                     </div>
                </div>
            </div>
    </section>
